
.lora-uniquifier {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-uniquifier {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Start Part Home */

/* Start preloader */
body.loaded {
	overflow: hidden !important;
	height: 100% !important;
}

.preloader { 
	position: fixed;
	color: rgb(50, 11, 122);
	
	z-index: 10;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
 	background: transparent;
	opacity: 1;
	transition: opacity 0.25s ease;
	z-index: 99999999999999;
	
}



/* #preloader.fade-out {
	opacity: 0;
	pointer-events: none;
} */

 .preloader svg {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 110vh;
	fill: var(--tj-black-2);
	font-family: "Lora";
} 

 .preloader .preloader-heading .load-text {
	font-size: 62px;
	font-weight: 200;
	letter-spacing: 0px;
	text-transform: uppercase;
	z-index: 20;
	font-family: "Lora";
} 

 .load-text span {
	-webkit-animation: loading 1s infinite alternate;
	animation: loading 1s infinite alternate;
	font-family: "Lora";
} 

 .load-text span:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
} 

 .load-text span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
} 

 .load-text span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
} 

.load-text span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

 @-webkit-keyframes loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} 

 @keyframes loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} 



/* END: Preloader */

body {
	background-color: #151418;
}

/* Start header */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lobster;
  text-decoration: none;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
   height: 120px; 
  box-shadow: 0 6px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #151418; 
  
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 1;
  /* border: 2px solid #6025c0; */
  
}

 @media (max-width: 768px) {
	header {
		background-image: url(backgroundHeader.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 0px;
	}
}

 @media(min-width: 769) {
	header {
		background-color: rgb(102, 52, 194);
	}
}  

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 15px; */
  
}





/* @media (max-width: 768px) {
	nav {
		padding: 10px 10px;
	}
} */




/* .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
} */


 /* .logo {
	padding-right: 50px;
 } */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 769px) {
	.menu {
		margin: 40px 100px 70px;
  		gap: 41px;
	}
	.logo {
		margin: 0px 40px 50px;
	}
}


@media only screen and (max-width: 950px) {

	.menu-icon {
		margin: 10px 20px 10px;
	} 
}

@media only screen and (max-width: 950px) {
	.home {
		margin: 60px 140px ;
		text-align: center;
	}
	.skill {
		margin: 60px 140px ;
		text-align: center;
	}
	.goal {
		margin: 60px 140px ;
		text-align: center;
	}
	.contact {
		margin: 60px 136px ;
		text-align: center;
	}
}

	

.menu a {
  display: block;
  /* padding: 7px 65px; */
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
   margin-bottom: 20px; 
}

.menu:hover a {
  opacity: 1;
}

.menu a:hover {
  opacity: 1;
  color: #5218b1;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: #6564d3;
    align-items: start;
    position: absolute;
    top: 29px;
    left: 0;
    width: 100%;
	height: 600px;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	/* border: 2px solid #6025c0; */
	/* text-align: center; */
  }

  /* .menu a {
    margin-left: 3px;
  } */

  .menu {
	margin-top: 90px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
	/* padding-right: 10px; */
  }
}

/* End header */



/* Start Section */
/* Words here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero {
	width: 100%;
	padding: 60px 40px;
	color: #b590fa;
}

.hero h1 {
	text-align: center;
	font-size: 42px;
	margin-bottom: 60px;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.hero-text {
	flex: 1;
}

.hero-text .myname {
	font-size: 88px;
	margin-bottom: 15px;
	color: #fff;
	margin-left: 20px;
}

.hero-text .desc {
	font-size: 45px;
	line-height: 1.6;
	color: #fff;
	margin-left: 20px;
}

.hero-image {
	flex: 1;
	display: flex;
	justify-content: center;
	margin-left: 70px;
}

.hero-image img {
	width: 350px;
	max-width: 100%;
	border-radius: 10px;
}


@media (max-width: 950px) {
	.hero {
		padding: 30px 20px;
	}

	.hero h1 {
		font-size: 36px;
		margin-bottom: 30px;
	}

	.hero-content {
		flex-direction: column;
		text-align: center;
	}

	.hero-text .myname {
		font-size: 31px;
		margin-right: 13px;
	}

	.hero-text .desc {
		font-size: 25px;
		margin-right: 13px;

	}

	.hero-image img {
		width: 250px;
		margin-top: 30px;
		margin-right: 75px;
	}
}
/* End Section */
/* End Part Home */


/* Start Part Skills */

/* Start Section */


.skills-section {
	/* va */
	max-width: 1100px;
	margin: auto;
	/* va */
	padding: 60px 20px;
	background-color: #0f0f1a;
	color: #fff;
}

.skills-title {
	font-size: 28px;
	margin: 40px 0 20px;
	text-align: left;
	color: #b590fa;
}

.skills-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	margin-bottom: 40px;
	/* grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	margin-bottom: 30px; */
}

.skill-card {
	background: rgba(255, 255, 255, 0.05);
	padding: 20px;
	border-radius: 14px;
	backdrop-filter: blur(10px);
	transition: transform 0.3s;
}

.skill-card:hover {
	transform: translateY(-5px);
}

.skill-icon {
	font-size: 32px;
	margin-bottom: 10px;
}

.skill-card h3 {
	margin-bottom: 10px;
	font-size: 18px;
}

.progress {
	width: 100%;
	height: 10px;
	background: #2a2a40;
	border-radius: 10px;
	overflow: hidden;
}

.progress-bar {
	height: 100%;
	text-align: right;
	padding-right: 5px;
	font-size: 12px;
	color: #fff;
	line-height: 10px;
	 text-shadow: 
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000; 

}




/* Colors */
.html {color: #ff6d00;}
.css {color: #2196f3;}
.js {color: #f7df1e;}

.html-bar {width: 80%; background: #ff6d00; height: 100%;}
.css-bar {width: 60%; background: #2196f3; height: 100%;}
.js-bar {width: 30%; background: #f7df1e; height: 100%;  }

.lang-bar {width: 75%; background: #d149ca; height: 100%; }

.swim-bar {width: 90%; background: #30bde7; height: 100%;}
.aesthetic-bar {width: 70%; background: #e73085; height: 100%;}
/* .personal-bar {width: 85%; background: #30bde7; height: 100%;} */


/* @media (max-width: 950px) {
	.skills-grid {
		grid-template-columns: 1fr;
	}

	.skills-title {
		text-align: center;
	}
} */

@media (max-width: 768px) {

	.skills-title {
		text-align: center;
	}
}
/* End Part Skills */


/* Start Part Goals */


.goals-section {
	padding: 150px 20px;
	background: #0f0f1a;
	color: #fff;
}

.goals-grid {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 900px;
	margin: auto;
}

.goal-card {
	background: rgba(255, 255, 255, 0.05);
	padding: 25px;
	border-radius: 16px;
	backdrop-filter: blur(10px);
	transition: transform 0.3s;
}

.goal-card:hover {
	transform: translateY(-5px);
}

.goal-card i {
	font-size: 28px;
	color: #c77dff;
	margin-bottom: 10px;
}

.goal-card h3 {
	margin-bottom: 8px;
	color: #b590fa;
	font-size: 33px;
}

.goal-card p {
	color: #fff;
	font-size: 22px;
}

.mozu {
	color: #b590fa;
	text-align: center;
	font-size: 42px;
	margin-top: 60px;
}

.subtitle {
	color: #fff;
	text-align: center;
	font-size: 23px;
	margin-bottom: 60px;
}

.goal-icon {
	font-size: 32px;
	margin-bottom: 10px;
}
/* End Part Goals */


/* Start Part Contact */
.contact-section {
	padding: 230px 20px;
	background-color: #0f0f1a;
	color: #fff;
}

.section-title {
	font-size: 28px;
	/* margin-bottom: 10px; */
	position: relative;
	top: -120px;
	color: #b590fa;
	text-align: center;
	font-size: 42px;
}

.contact-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
	max-width: 500px;
	margin: 0 auto;
}

.contact-item {
	background: rgba(255, 255, 255, 0.05);
	padding: 15px 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 21px;
}

.contact-item i {
	font-size: 22px;
	color: #b590fa;
}

@media(min-width:768px) {
	.contact-grid {
		grid-template-columns: repeat(2, 1fr);
		max-width: 800px;
	}
}

@media (min-width: 1024px) {
	.contact-grid {
		grid-template-columns: repeat(4,1fr);
		max-width: 1100px;
	}
}

.contact-item {
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 25px 15px;
}

.contact-item i {
	font-size: 28px;
}

.contact-item span {
	font-size: 15px;
	word-break: break-all;
}

.contact-image {
	margin-top: 120px;
	display: flex;
	justify-content: center;
}

.contact-image img {
	width: 700px;
	max-width: 80%;
	border-radius: 16px;
}

@media(max-width: 768px) {
	.contact-image img {
		width: 390px;
	}
}




